{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="todo!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!">
    <meta name="author" content="EML">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>EML - Easy Machine Learning</title>
    <!-- Website Icon  -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="{% url 'index' %}">
            <img src="{% static 'images/logo_a.svg' %}" alt="alternative">
        </a>
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">EML</a> -->

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">OUR SOLUTION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#preview">PREVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% url 'learn' %}"
                        style="border-style: solid; border-color: DeepSkyBlue; color: DeepSkyBlue; padding: 0px 5px;">Trial</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->

    <!-- Features - MAIN -->
    <div id="header" class="tabs" style="background-image: url('images/header-background.jpg');background-size: cover;">

        <div class="container">
            <div class="row">
                <!-- Tabs Content-->
                <div class="tab-content" id="`TabsContent">
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
                        <div class="container">
                            <div class="row">

                                <!-- Icon Cards Pane -->
                                <div class="col-lg-7">
                                    <div class="card left-pane first">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h1>Machine Learning
                                                    <br>For <span id="js-rotating"
                                                        style="color:#80FFFF;margin-right: 10px">Reaserchers, Analysts,
                                                        Inquisitives</span></h1>
                                                <!-- <h4 class="card-title">Goal Setting</h4> -->
                                                <!-- <p>Like any self improving process, everything starts with setting your goals and committing to them</p> -->
                                            </div>
                                            <!-- <div class="card-icon"> -->
                                            <!-- <i class="far fa-compass"></i> -->
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <br>
                                                <p class="p-large"
                                                    style="font-family: Tahoma, Geneva, sans-serif;font-size: 24px;letter-spacing: 0px;word-spacing: 1px;color:#99DDFF;">
                                                    EML is your way to unleash machine learning power to gain insights
                                                    on your data with out writing a single word of code. Try it today!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end of icon cards pane -->
                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="tab-5">
                        <div class="container">
                            <div class="row">

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{% static 'images/features-iphone-2.png' %}"
                                        alt="alternative">
                                </div>
                                <!-- end of image pane -->

                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="text-area">
                                        <h3>Track Result Based On Your</h3>
                                        <p>After you've configured the app and settled on the data gathering techniques
                                            you can not start the information trackers and start collecting those <a
                                                class="turquoise" href="#your-link">interesting details</a>. You can
                                            always change them.</p>
                                    </div> <!-- end of text-area -->

                                    <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Good Foundation</h4>
                                                <p>Get a solid foundation for your self development efforts. Try EML
                                                    mobile app for any mobile platform</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Easy Reading</h4>
                                                <p>Reading focus mode for long form articles, ebooks and other materials
                                                    which involve large text areas</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Calendar Input</h4>
                                                <p>Schedule your appointments, meetings and periodical evaluations using
                                                    the provided in-app calendar option</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Visual Editor</h4>
                                                <p>EML provides a well designed and ergonomic visual editor for you to
                                                    edit your notes and input data</p>
                                            </div>
                                        </div>
                                    </div> <!-- end of icon cards area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-6" role="tabpanel" aria-labelledby="tab-6">
                        <div class="container">
                            <div class="row">

                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="icon-cards-area">
                                        <!-- <div class="card"> -->
                                        <!-- <div class="card-icon"> -->
                                        <!-- <i class="far fa-calendar-check"></i> -->
                                        <!-- </div> -->
                                        <!-- <div class="card-body"> -->
                                        <!-- <h4 class="card-title">Calendar Input</h4> -->
                                        <!-- <p>Schedule your appointments, meetings and periodical evaluations using the provided in-app calendar option</p> -->
                                        <!-- </div> -->
                                        <!-- </div> -->
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Visual Editor</h4>
                                                <p>EML provides a well designed and ergonomic visual editor for you to
                                                    edit your notes and input data</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Good Foundation</h4>
                                                <p>Get a solid foundation for your self development efforts. Try EML
                                                    mobile app for any mobile platform</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Easy Reading</h4>
                                                <p>Reading focus mode for long form articles, ebooks and other materials
                                                    which involve large text areas</p>
                                            </div>
                                        </div>
                                    </div> <!-- end of icon cards area -->

                                    <div class="text-area">
                                        <h3>Monitoring Tools Evaluation</h3>
                                        <p>Monitor the evolution of your finances and health state using tools
                                            integrated in EML. The generated real time reports can be filtered based on
                                            any <a class="turquoise" href="#your-link">desired criteria</a>.</p>
                                    </div> <!-- end of text-area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{% static 'images/features-iphone-3.png' %}"
                                        alt="alternative">
                                </div>
                                <!-- end of image pane -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div><!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of features -->

    <!-- sub main -->
    <div id="details" class="basic-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="text-align:center">
                    <img alt="Bootstrap Image Preview" src="{% static 'images/sm1.jpg' %}"
                        style="display: block; margin-left: auto; margin-right: auto;" />
                    <h2> Machine learning Services </h2>
                    <p style="text-align:center"> Build & train ML fast with no code </p>

                </div>
                <div class="col-md-4" style="text-align:center">
                    <img alt="Bootstrap Image Preview" src="{% static 'images/sm2.jpg' %}"
                        style="width:200px;   height:200px; display: block; margin-left: auto; margin-right: auto;" />
                    <h2> Think outside the box </h2>
                    <p> Designed to help you break barriers and get ahead on your research </p>

                </div>
                <div class="col-md-4" style="text-align:center">
                    <img alt="Bootstrap Image Preview" src="{% static 'images/sm3.jpg' %}"
                        style="display: block; margin-left: auto; margin-right: auto;" />
                    <h2> Modular tool </h2>
                    <p> Intelligent solution that fits you specific needs </p>
                </div>
            </div>
        </div>
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->

    <!-- Features -->
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Solution</h2>
                    <div class="p-heading p-large">We developed the simplest way to build & train machine learning
                        models to ensure an accurate and fast deep learning from your data.</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="lenoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                            aria-controls="tab-1" aria-selected="true"><i class="fas fa-cog"></i>Configure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                            aria-controls="tab-2" aria-selected="false"><i class="fas fa-binoculars"></i>Examine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab"
                            aria-controls="tab-3" aria-selected="false"><i class="fas fa-search"></i>Research</a>
                    </li>
                </ul>
                <!-- end of tabs links -->


                <!-- Tabs Content-->
                <div class="tab-content" id="`TabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="container">
                            <div class="row">

                                <!-- Icon Cards Pane -->
                                <div class="col-lg-5">
                                    <!-- <div class="card left-pane first"> -->
                                    <!-- <div class="card-body"> -->
                                    <!-- <div class="text-wrapper"> -->
                                    <!-- <h4 class="card-title">Accessibility</h4> -->
                                    <!-- <p>You can use EML from any computer with an Internet access</p> -->
                                    <!-- </div> -->
                                    <!-- <div class="card-icon"> -->
                                    <!-- <i class="far fa-compass"></i> -->
                                    <!-- </div> -->
                                    <!-- </div> -->
                                    <!-- </div> -->
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Simplicity</h4>
                                                <p>Effortless Upload your data to our secure server</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Custom Model</h4>
                                                <p>Answer a few simple questions to get a personalized machine learning
                                                    model to fit your specific needs</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-gem"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of icon cards pane -->

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{% static 'images/tab1_3.png' %}" alt="alternative"
                                        style="margin-top: 0px; margin-left: 50px; ">
                                </div> <!-- end of image pane -->
                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="container">
                            <div class="row">

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{% static 'images/tab2.png' %}" alt="alternative">
                                </div>
                                <!-- end of image pane -->

                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="text-area">
                                        <h3>Clear results</h3>
                                        <p>See the model obeservation via intuitive graphs.</p>
                                        <!-- <p>After you've configured the app and settled on the data gathering techniques you can not start the information trackers and start collecting those 
                                            <a class="turquoise" href="#your-link">interesting details</a>. You can always change them.</p> -->
                                    </div> <!-- end of text-area -->

                                    <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Control the thresholds</h4>
                                                <p>Use our knobs to choose the the confidence level in the model</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Checkpoint</h4>
                                                <p>Store the trained model and chosen thresholds to use in further
                                                    research</p>
                                            </div>
                                        </div>
                                    </div> <!-- end of icon cards area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="container">
                            <div class="row">

                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="text-area" style="text-align:right">
                                        <h3>Inference</h3>
                                        <p>-----------complete-----------</p>
                                        <!-- <p>After you've configured the app and settled on the data gathering techniques you can not start the information trackers and start collecting those
                                             <a class="turquoise" href="#your-link">interesting details</a>. You can always change them.</p> -->
                                    </div> <!-- end of text-area -->
                                    <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Load machine</h4>
                                                <p>Upload more data in favor of learning better and more accurately,
                                                    based previous trained machine</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Results and conclusions</h4>
                                                <p>Use our advances statistic models to further expand your research
                                                </p>
                                            </div>
                                        </div>

                                    </div> <!-- end of icon cards area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{% static 'images/tab333.png' %}" alt="alternative">
                                </div><!-- end of image pane -->
                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div><!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of features -->

    <!-- Video -->
    <div id="preview" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PREVIEW</h2>
                    <div class="p-heading p-large">Let us show you an example demonstrates what you should do and how
                        easy it is</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=FX20kcp7j5c"
                                data-effect="fadeIn">
                                <!-- <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn"> -->
                                <img class="img-fluid" src="{% static 'images/video-frame.jpg' %}" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->

    <!-- Start trail -->
    <div class="slider-2" id="run">
        <div class="container">
            <div class="row">
                <div class="col-lg-14">
                    <h2>Let's Go!</h2>
                    <div class="p-heading p-large">...</div>
                    <a class="btn-solid-reg" href="learn.html">Start Learning</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of trail -->

    <!-- Details Lightboxes -->
    <!-- Lightbox -->
    <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'images/details-lightbox-1.png' %}" alt="alternative">
            </div>
            <div class="col-lg-6">
                <h3>Goals Setting</h3>
                <hr>
                <p>EML can easily help you track your personal development evolution if you take the time to set it up.
                </p>
                <h4>User Feedback</h4>
                <p>This is a great app which can help you save time and make your live easier. And it will help improve
                    your productivity levels.</p>
                <p>You should definitely give it a try when you need a good app.</p>
                <table>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-desktop"></i></td>
                        <td>Responsive layout</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-bullhorn"></i></td>
                        <td>Distinctive CTAs</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-image"></i></td>
                        <td>Image gallery slider</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-envelope"></i></td>
                        <td>Contact forms</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fab fa-font-awesome-flag"></i></td>
                        <td>FontAwesome icons</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-code"></i></td>
                        <td>Well-structured code</td>
                    </tr>
                </table>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button"
                    href="#details">BACK</a>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'images/details-lightbox-2.png' %}" alt="alternative">
            </div>
            <div class="col-lg-6">
                <h3>Calendar Input</h3>
                <hr>
                <p>The calendar input function enables the user to setup training, meditation and relaxation sessions
                    with ease.</p>
                <h4>User Feedback</h4>
                <p>This is a great app which can help you save time and make your live easier. And it will help improve
                    your productivity levels.</p>
                <p>You should definitely give it a try when you need a good app.</p>
                <table>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-desktop"></i></td>
                        <td>Responsive layout</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-bullhorn"></i></td>
                        <td>Distinctive CTAs</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-image"></i></td>
                        <td>Image gallery slider</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-envelope"></i></td>
                        <td>Contact forms</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fab fa-font-awesome-flag"></i></td>
                        <td>FontAwesome icons</td>
                    </tr>
                    <tr>
                        <td class="icon-cell"><i class="fas fa-code"></i></td>
                        <td>Well-structured code</td>
                    </tr>
                </table>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button"
                    href="#details">BACK</a>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightboxes -->

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- end of add arrows -->

    </div> <!-- end of swiper-container -->
    </div> <!-- end of slider-container -->
    <!-- end of image slider -->

    </div> <!-- end of col -->
    </div> <!-- end of row -->
    </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of screenshots -->

    <!-- Testimonials -->
    <div class="slider-1">
        <div class="container">
            <center>
                <h1>The Team</h1>
            </center>
            <br></br>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/f_y.png' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">I just finished my trial period and was so
                                                amazed with the support and results.</p>
                                            <p class="testimonial-author">Yael Sarusi</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/f_a.png' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">I don't know how I managed to get work done
                                                without EML. The speed of this application is amazing!</p>
                                            <p class="testimonial-author">Arnon Turetzky</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/f_d.png' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">This app has the potential of becoming a
                                                mandatory tool in every marketer's day to day operations.</p>
                                            <p class="testimonial-author">Daphna Leventer</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/f_s.png' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Searching for a great marketing automation app
                                                was difficult but thankfully I found EML.</p>
                                            <p class="testimonial-author">Shahar Sidis</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->


                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->

    <!-- Contact -->
    <div id="contact" class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>CONTACT</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Don't hesitate to give us a call or just use the contact form below</li>
                        <li><i class="fas fa-map-marker-alt"></i>Givat Ram, Jerusalem, Israel</li>
                        <!-- <li><i class="fas fa-phone"></i><a class="blue" href="tel:003024630820">+972 2 1234567</a></li> -->
                        <li><i class="fas fa-envelope"></i><a class="blue"
                                href="mailto:office@eml.com">office@eml.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form> <!-- end of contact form -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of contact -->

    <!-- Statistics -->
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="99785">1</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="85">1</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="56185">1</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="12323">1</div>
                            <p class="counter-info">Case Studies</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About EML</h4>
                        <p>We're passionate about creating the best mobile apps for personal development</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Our business partners <a class="turquoise"
                                        href="#your-link">startupguide.com</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms
                                        & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy
                                        Policy</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © EML</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->

</body>

{% load static %}

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
<script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
<script src="{% static 'js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->

<script src="{% static 'main.js' %}"></script>

</html>